GtkBox #chat_session_profile_box{
	background : white;
	border-bottom : solid 2px red;
}
#message_container_box{
	background-color : #653223;
}

GtkButton{
	border:none;
}
.wifiNode{
    font: Ubuntu Light 10;
	font-weight: bold;
    opacity:1;
}
GtkButton.sendbox{
	background : #139042;
	color: white;
	border:none;
}
GtkButton.recvbox{
	background : #457a92;
	color: white;
	border:none;
}
.settingButtons{
	background : #DBDBDB;
}
.profileArea{
	background : transparent;
	border:none;
}
GtkButton#icon_button{
	background : #DBDBDB;
	border : none;
}
GtkButton#profile_icon_button{
	background : #DBDBDB;
}
GtkImage#profileImage{
	border-radius:24px;
}
.settingLabels{
  	font: Impact 10;
}
GtkButton#Create,#Join{
    color:gray;
    font: Comic Sans 12;
    opacity:0.9;
    border-radius:10px;
    transition:all 1s ease;
}
GtkButton#Create:hover,#Join:hover{
    color:white;
    background-color:gray;
}
GtkButton#Send,#Start{
    color:gray;
    font: Comic Sans 12;
    border-radius:10px;
    opacity:0.7;
    transition:all 1s linear;
}
GtkButton#Send:hover,#Start:hover{
    background-color:white;
    opacity:1;
}

GtkLabel#Filechoose,#Iplabel{
   font-size:14px;
}
GtkLabel#wifi_main_label{
   	font: Ubuntu Light 11.5;
	font-weight:bold;
}
GtkLabel#wifi_small_label{
	font-size:10px;
}
GtkLabel#macLabel{
  	font-size:12px;
}
GtkLabel#hmacLabel{
  	font-size:12px;
}
GtkLabel#sessionLabel{
  	font: Ubuntu Condensed 20;
}
GtkLabel#totalLabel{
  	font: Ubuntu Condensed 20;
}
/*GtkEntry{
   background-color:black;
   color:white;
   border-radius:7px;
}*/
